<div class="section_container">
	<div class="section_header">
		<h4 id="comments_<%= data.id %>_count"><%= pluralize(data.comments.size, "comment") %></h4>
	</div>
	<div class="section_content">
		<ul id="comments_<%= data.id %>">
			<%= render :partial => data.comments.reverse %>
		</ul>
		<hr/>
		<% if user_signed_in? %>
			<% form_for(Comment.new, :url => {:controller => :comments, :action => :create}, :id => "new_comment_#{data.id}", :html => {:class => "rjs"}) do |f| %>
				<%= f.hidden_field(:commentable_id, :value => data.id, :style => "display:none;") %>
				<%= f.hidden_field(:commentable_type, :value => type, :style => "display:none;") %>
				<div class="ctrlHolder">
					<label for="comment"><%= image_tag(get_profile_picture(current_user, :thumb), :class => "rounded", :alt => "You say...") %></label>
					<%= f.text_area(:comment, :rows => 4, :cols => 50, :value => "Write a comment...", :class => "required") %>
				</div>
				<div class="buttonHolder">
					<button type="submit" class="primaryAction">Comment</button>
					<br/>
				</div>
			<% end %>
			<!-- <script type="text/javascript" charset="utf-8">
				$("#new_comment_<%= data.id %>").submit(function(){
					$.post($(this).attr("action"), $(this).serialize(), null, "script");
					return false;
				})
			</script> -->
		<% else %>
			<%= render :partial => "/shared/login_required" %>
		<% end %>
	</div>
</div>