<h1>Edit Account</h1>
 
<% semantic_form_for @user do |f| %>
	<% f.inputs :name => "Name" do %>
		<%= f.input :name %>
		<%= f.input :surname %>
	<% end %>
	<% f.inputs :name => "Username" do %>
		<%= f.input :login, :hint => "Changing your Beaconise user name any time without effecting your photos, events, or other existing data. After changing it, make sure you let your friends know so you'll continue to receive all your messages with your new user name. "%>
	<% end %>
	<% f.inputs :name => "Email" do %>
		<%= f.input :email %>
	<% end %>
	<% f.inputs :name => "Password" do %>
		<%= f.input :password_old, :as => :password, :label => "Old password" %>
		<%= f.input :password, :label => "New password" %>
		<%= f.input :password_confirmation, :label => "Confirm password" %>
	<% end %>
	
	<% f.inputs :name => "Mobile" do %>
		<%= f.input :mobile_number, :as => :numeric, :hint => "Why do you need my mobile number?<br/>When you're in a registered venue and text to screen, we use your number to instantly tag you in the venue. " %>
		<%= f.input :mobile_network, :as => :select, :collection => [
				["O2", 1],
				["Vodaphone", 2],
				["3", 3],
				["Orange", 4],
				["T-Mobile UK", 5]
			] %>		
	<% end %>
	
	<% f.inputs :name => "Address" do %>
		<%= f.input :address_line_1, :label => "House Name/Number & Street", :hint => "Why do you need my address?<br/>We use your address to refine local event results unique to you. Also when you buy tickets or merchandise, they can be delivered to this address. " %>
		<%= f.input :address_line_2, :label => "Neighbourhood" %>
		<%= f.input :address_town, :label => "Town" %>
		<%= f.input :address_county, :label => "County" %>
		<%= f.input :address_postcode, :label => "Postcode" %>
		<%= f.input :address_country, :as => :country, :label => "Country" %>
	<% end %>
	<%= f.buttons %>
<% end %>
<%= link_to "Deactivate Account", user_path, :method => :delete, :confirm => "Are you sure you want to cancel this account?\r\nTHIS IS A PERMANENT ACTION" %>
