<li id="venue_<%= venue.id %>" class="venue objectListItem uiListItem">
	<div class="UIImageBlock clearfix">
		<%= link_to(image_tag(venue.logo(:square), :class => "img"), venue_path(venue), :class => "UIImageBlock_Image", :tabindex => "-1") %>
		<div class="UIImageBlock_Content">
			<header>
				<h6><%= link_to h(venue.name), venue_path(venue) %></h6>
				<%=h venue.city %>
			</header>
			<%- if business_signed_in? -%>
				<div class="actions">
					<%= link_to "Settings", edit_venue_path(venue) %> - <%= link_to "Sync", sync_venue_path(venue) %>
				</div>
			<%- end -%>
		</div>
	</div>
</li>