<%= display_current_sub_nav %>
<%= display_current_small_vcard %>
<h2><%= h(@gallery.title) %></h2>
<%= link_to "Edit", edit_user_gallery_path if owner_or_admin(@gallery) %>
<%= link_to "Delete", user_gallery_path, :method => "DELETE", :confirm => "Are you sure you want to delete #{@gallery.title}?" if owner_or_admin(@gallery) and @gallery.profile_pictures == false %>
<%= content_tag :div, "This is <strong>your</strong> profile pictures album" if @gallery.profile_pictures == true and owner_or_admin(@gallery) %>
<div id="photos_count"><%= pluralize(@gallery.photos.size, "Photo") %></div>
<ul class="photos" id="photos">
	<% if @gallery.photos.size == 0 %>
		<li class="photo">
			<div class="emptyContent">
				<h5>Empty Gallery</h5>
				<p>Gallery has no photos</p>
			</div>
		</li>
	<% end %>
	<%= render :partial => @gallery.photos, :locals => {:gallery => @gallery} %>
	<br class="clearit"/>
</ul>


<% if logged_in? and (defined?(current_user) and current_user.id == @gallery.user_id) %>
	<% semantic_form_for Photo.new, :url => user_gallery_photos_path(params[:user_id], @gallery), :html => {:multipart => true} do |f| %>
	<%= render :partial => "photos/form", :locals => {:f => f }%>
	<% end %>
<% end %>