<% semantic_form_for @event, :url => {:action => :location} do |f| %>
	<% @event.build_venue %>
	<%= f.error_messages %>
	<section id="event_venue" class="uiVerticalStep">
		<ul id="event_venue_selected" class="<%= "clear " unless @event.venue.name %>selectedValues clearfix">
			<%= render @event.venue if @event.venue.name %>
			&nbsp;
		</ul>
		<% unless @venue %>
		<div id="event_venue_select">
			<% f.inputs do %>
				<%= f.input :venue, :as => :autocomplete %>
			<% end %>
			<% f.inputs :for => :venue, :id => "event_new_venue" do |v| %>
				<%= v.input :name %>
				<%= v.input :address1 %>
				<%= v.input :address2 %>
				<%= v.input :city %>
				<%= v.input :county %>
				<%= v.input :country %>
			<% end %>
		</div>
		<% end %>

	</section>
	<section id="event_datetime" class="uiVerticalStep">
		<% f.inputs :id => "event_datetime_select" do %>
			<%= f.input :commence_at, :as => :datepicker %>	
			<%= f.input :finish_at, :as => :datepicker %>
		<% end %>
	</section>
	
	<% f.buttons do %>
		<%= f.commit_button %>
	<% end %>
<% end %>

<% content_for(:head) do %>
<%= stylesheet_link_tag('jquery.ui.datetimepicker') %>
<% end %>

<% content_for(:foot) do %>
<%= javascript_include_tag('jquery.autocomplete-min', 'jquery.ui.datetimepicker') %>
<script>
	jQuery(document).ready(function($){
		
		$("#event_new_venue").hide();
		
		var dates = $("input.ui-datepicker-field").datetimepicker({
			inline:true,
			defaultDate:"+1w",
			dateFormat:"yy-mm-dd",
			showOtherMonths:true,
			selectOtherMonths:true,
			minEl:$('input.ui-datepicker-field')[0],
			maxEl:$('input.ui-datepicker-field')[1]
		});
		
		
		$("input.ui-autocomplete-field").autocomplete({
			serviceUrl : '<%= search_venues_path(:json) %>',
			minChars:2,
			deferRequestBy:250,
			maxHeight:400,
			width:300,
			zIndex:999,
			onSelect: function(value,data){
				$("#event_venue_id_input").val(data["venue"]["id"]);
				$("#event_venue_selected").html(data["venue"]["html"])
					.append(
						$('<span class="hoverPop">Click to change</span>').hide()
					)
					.mouseenter(function(){
						$(this).find(".hoverPop").fadeIn();
					})
					.mouseleave(function(){
						$(this).find(".hoverPop").fadeOut();
					})
					.click(function(){
						$("#event_venue_selected").slideUp().html("");
						$("#event_venue_autocomplete_input").val('');
						$("#event_venue_select").slideDown();
					})
					.hide()
					.removeClass('clear')
					.slideDown();
				$("#event_venue_select").slideUp();
				
			}
		});

	});
</script>
<% end %>