<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" lang="en-GB">
<head>
	<meta charset="UTF-8"/>
	<%= display_meta_tags :site => 'Beaconise' %>
	<!-- <title>Beaconise - We're going there!</title> -->
	<meta name="Author" content="MΞKYLE"/>
	<meta name="Designer" content="Kyle Welsby"/>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<%= stylesheet_link_tag 'resets', 'grid', 'formtastic-min', 'formtastic_changes', 'smoothness/jquery-ui-1.8.4.custom', 'application' %>
	<%= yield(:head) %>
</head>
<body id="<%= controller.controller_name %>" class="<%= controller.action_name %>">
	<header class="container_12 clearfix">
		<h1 id="pageLogo" class="grid_3">
			<%= link_to "", root_url, :title => "Home" %>
		</h1>
		<div class="grid_9 omega">
			<nav class="account clearfix">
				<% if user_signed_in? %>
				<h3>
					<% link_to user_path(current_user), :title => t('users.profile.title', :name => current_user.forename) do %>
						<%= image_tag(get_profile_picture(current_user, :thumb)) %>
						<%= content_tag(:span, current_user.forename) %>
						<%= content_tag(:div, t('users.profile.visit')) %>
					<% end %>
				</h3>
				<ul>
					<li>
						<% link_to user_path(current_user), :title => t('users.profile.title', :name => current_user.forename) do %>
							<span class="block_img ICO_profile"></span>
							<%= t('users.profile.link') %>
						<% end %>
					</li>
					<li>
						<% link_to user_root_path, :title => t('users.dashboard.title') do %>
							<span class="block_img ICO_dashboard"></span>
							<%= t('users.dashboard.link') %>
						<% end %>
					</li>
					<li>
						<% link_to user_photos_path(current_user), :title => t('users.photos.title') do %>
							<span class="block_img ICO_photos"></span>
							<%= t('users.photos.link') %>
						<% end %>
					</li>
					<li>
						<% link_to edit_user_registration_path, :title => t('users.settings.title') do  %>
							<span class="block_img ICO_settings"></span>
							<%= t('users.settings.link') %>
						<% end %>
					<li>
						<% link_to destroy_user_session_path do %>
							<span class="block_img ICO_sign_out"></span>
							<%= t('devise.sessions.destroy') %>
						<% end %>
					</li>
				</ul>
				<% else %>
				<ul>
					<li>
						<% link_to new_registration_path(:user) do %>
							<!-- <span class="block_img ICO_sign_up"></span> -->
							<%= t('devise.registrations.link') %>
						<% end %>
					</li>
					<li>
						<% link_to new_session_path(:user) do %>
							<!-- <span class="block_img ICO_sign_in"></span> -->
							<%= t('devise.sessions.link') %>
						<% end %>
					</li>
				</ul>
				<% end %>
			</nav>
			<nav class="roles clearfix">
				<ul>
					<li>
						<% link_to user_root_path do %>
							<span class="block_img ICO_user">User</span>
						<% end %>
					</li>
					<li>
						<% link_to promoter_root_path do %>
							<span class="block_img ICO_promoter">Promoter</span>
						<% end %>
					</li>
					<li>
						<% link_to business_root_path do %>
							<span class="block_img ICO_business">Business</span>
						<% end %>
					</li>
				</ul>
			</nav>
			<% semantic_form_for(:search) do |f| %>
				<% f.inputs do %>
					<%= f.input :q, :as => :string, :label => false, :input_html => {:placemarker => "Search"} %>
				<% end %>
				<% f.buttons do %>
					<%= f.commit_button "Search" %>
				<% end %>
			<% end %>
		</div>
		<nav class="main">
			<!-- <% semantic_form_for(:location) do |f| %>
				<% f.inputs do %>
					<%= f.input :location, :as => :string, :label => false, :input_html => {:value => "MY LOCATION (GEOCODED)"} %>
				<% end %>
				<% f.buttons do %>
					<%= f.commit_button "Change" %>
				<% end %>
			<% end %> -->
			<ul class="clearfix">
				<%= content_tag(:li, link_to(t('users.dashboard.link'), user_root_path, :class => "dashboard"))%>
				<%= content_tag(:li, link_to(t('events.link'), events_path), :class => "events") %>
				<%= content_tag(:li, link_to(t('venues.link'), venues_path), :class => "venues") %>
			</ul>
		</nav>
	</header>

	<section id="content" class="container_12 clearfix">
		<div class="grid_12">
			<%- flash.each do |name, msg| -%>
				<%= content_tag :div, msg , :id => "flash", :class => "flash_#{name}" %>
			<%- end -%>
			<%= content_tag :div, yield, :class => "clearfix" %>
			<br class="clearfix"/>
		</div>
	</section>
	<%= content_tag(:aside, yield(:aside)) if yield(:aside) %>
	<footer class="container_12 clearfix">
		<div class="grid_12">

			<ul>
				<%= content_tag :li, link_to(t('about.link'), about_path) %>
				<%= content_tag :li, link_to(t('advertising.link'), advertising_path) %>
				<%= content_tag :li, link_to(t('developers.link'), developers_path) %>
				<%= content_tag :li, link_to(t('careers.link'), careers_path) %>
				<%= content_tag :li, link_to(t('terms.link'), terms_path) %>
			</ul>
			<span class="copyright">Beaconise &copy; <%= Time.now.year %></span>
		</div>
	</footer>

	<%= javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.4.custom.min' %>
	<%# javascript_include_tag 'devise.facebook_connectable' %>
	
	<%# fb_connect_javascript_tag(:lang => ::I18n.locale) %>
	<%# init_fb_connect :XFBML, :js => :jquery %>

	<script type="text/javascript" charset="utf-8">
		jQuery(document).ready(function(){
			$('a[href="'+window.location.pathname+'"], a[href="'+window.location.href+'"]').addClass('current');
		});
	</script>
	<%= yield(:foot) %>
</body>
</html>