<% case act.importance
when 1 
	@class = "headline" 
else
	@class = "support"
end %>
<li class="<%= @class %>"><%= link_to(h(act.artist.name), artist_path(act.artist)) %>
	<% if controller.controller_name == "acts" %>
		<div>
		<% if business_signed_in? %>
			<%= link_to("Convert to Headline", importance_venue_event_act_path(@event.venue, @event, act, :headline => true), :class => "link-button") if act.importance == 0 %>
			<%= link_to("Convert to Support", importance_venue_event_act_path(@event.venue, @event, act, :headline => false), :class => "link-button") if act.importance > 0 %>
			<%= link_to("Remove", venue_event_act_path(@event.venue, @event, act, :confirm => "Are you sure you wish to remove this act from this line-up?", :method => :delete), :class => "link-button") %>
		<% end %>
		</div>
	<% end %>
</li>